* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.app {
    flex-direction: column;
    margin: 1em auto;
    background: #23252C;
    height: fit-content;
    width: 300px;
    border-radius: 10px;
}

.app, header > a, .linkedin {
    color: white;
}

.app, header .info, .email, .linkedin {
    display: flex;
}

header img {
    width: 100%;
    border: 2px solid #23252C;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

header, footer {
    text-align: center;
}

h1 {
    font-size: 1.563rem;
    margin-bottom: 0;
}

h4 {
    margin: 0 0 0.7em;
    color: #B37162;
}

header > a {
    font-size: 0.75rem;
    text-decoration: none;
}

header > a:hover {
    text-decoration: underline;
}

header .info {
    justify-content: center;
    padding: 0 2em;
    margin-top: 1.3em;
    gap: 1em;
}

.email {
    background-color: white;
    color: #23252C;
}

.email, .linkedin {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.email > i, .linkedin > i {
    align-self: center;
    margin: 0 0.5em 0 0;
}

.email > p, .linkedin > p {
    margin: 0;
}

.linkedin {
    background-color: #297FE5;
    align-self: center;
}

.linkedin > i, main h2 {
    font-size: 1rem;
}

main {
    padding: 0 2em;
}

main h2 {
    margin-bottom: 0;
}

main p, h4 {
    font-size: 0.8rem;
}

main p {
    line-height: 1.5;
}

footer {
    margin-top: auto;
    background: #161619;
    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer .fa-brands {
    font-size: 1.5rem;
    margin-right: 1em;
    color: #918E9B;
}